.tracks.row
  .column
    %h2 Tracks
    .overlay
      %h4 Hey Tim!
      %p For an optomistic 8 tracks, I'm thinking:
      %ol
        %li What I have
        %li Unroll my love
        %li Ocean in your eyes
        %li Song and dance
        %li Up-Street
        %li In the Fire
        %li Head First
        %li Fling

      %p Right-click to download...
      %ol.tracks
        - @tracks.each do |track|
          %li= link_to track[:name], track[:url]
