.tracks.row
  .column
    %h2 Tracks
    .overlay
      %h4 Round 3
      %ol
        %li Aflame - new, stripped version
        %li Troubled Spot
        %li Angel in the Night
        %li Change Our Names

      %h4 Round 2
      %ol
        %li Nightlife
        %li Poison and the Peach
        %li Warm
        %li Wait a little longer
        %li In the Fire - new, stripped version
        %li Must be more - old arrangement

      %h4 Round 1
      %ol
        %li What I have
        %li Unroll my love
        %li Ocean in your eyes
        %li Song and dance
        %li Fling
        %li In the Fire
        %li Head First
        %li Up-Street

      %p Right-click to download...
      %ol.tracks
        - @tracks.each do |track|
          %li= link_to track[:name], track[:url]

      %fieldset
        %legend Notes
        %ul
          %li
            %p
              %strong Aflame
            %p opening guitar part is great…groove is a little RHCP, would like to try something else. Chorus hits would be different with a different verse groove of course.
          %li
            %p
              %strong Back to Me
            %p straight up folk, I think it might translate to a soul ballad in a nice way (think meters “Stormy” or something).
          %li
            %p
              %strong Below the Waterline
            %p anthemic ballad, not sure where else to take this AKA I think it works like this.  We could certainly “soul it up” (fuckin tenor solo on this?!? Hell yeah!).
          %li
            %p
              %strong What I Have
            %p sounds good, would be easy.
          %li
            %p
              %strong Unroll
            %p I kind of want to/need to/have to take this song as far away from cabaret as possible… it sounded New Orleans to me at the beginning (before the feel had settled), I wonder if we couldn’t take it for a walk down Bourbon st, eat something good, bottom out in the Backwater for awhile before crashing in an abandoned plantation house.  An idea.
          %li
            %p
              %strong Ocean
            %p the feel is not something the Boog excels at, so my reaction is to think the feel has to change.
            %p What would that feel be?  I’m not sure.  The best way to find out would be to get together with the gang and try a thing or two, so…
            %p Seems like there are too many verses before the reintro, this feels too long for me… Hope I’m not coming across as brutally honest, I’m just being honest.  Seems like you have an endless pool of songs to choose from, so unless you’re attached to this one, I’d set it aside (or put it on a list of things that need “special attention”).
          %li
            %p
              %strong Song n Dance
            %p feel is very Basement Tapes to me… might be fun to have a song with this sorta feel on the record, something in the rocknroll vein.
          %li
            %p
              %strong Up Street RAW!
            %p A shuffle!  I love it.  Mason has a way with a shuffle that’s up with the best of them.  This’ll practically play itself.

          %li
            %p
              %strong up street arranged
            %p Ugh.
          %li
            %p
              %strong In the Fire
            %p Stony tune… could be fun to play around with.
          %li
            %p
              %strong Head First:
            %p Another rock feel that might benefit from tweaking.
          %li
            %p
              %strong Fling
            %p Easy breezy funky feel, would be nice slowed-the-fuck down and super-gritty…
