.tracks.row
  .column
    .overlay
      %h3 Demo Tracks
      %p Right-click to download...
      %ul.tracks
        - @demo_tracks.each do |demo_track|
          %li= link_to demo_track[:name], demo_track[:url]

      .row
        .column
          %h3 Cover Set-list
          %ul
            - @covers.each do |cover|
              %li= cover

