.welcome.overlay
  %h3 Hi!
  %p I'll be playing all summer long at <a href='http://www.hudsonriverpark.org/explore-the-park/activities/cafe-pier-45' target='_blank'>The Café at Pier 45</a> on the Hudson River Park (river side of the west side highway) at the end of Christopher st.
  %p Please, sign up and I'll keep you posted. - Din
  .row
    = render 'signup_form'
.row
  .gigs.overlay
    %h4 Upcoming Shows
    %hr
    %h5
      %a{ href: 'http://www.hudsonriverpark.org/explore-the-park/activities/cafe-pier-45', target: '_blank'} The Cafe at Pier 45
    %p Every Wednesday, Thursday, Saturday &amp; Sunday 5:30 - 9:00 pm!
  .contact.overlay
    %h4 Contact
    %hr
    %p
      = mail_to "info@thedinman.com", "info@thedinman.com", encode: "javascript"
      \| 646 239 8326
