%nav.top-bar{"data-topbar" => ""}
  %ul.title-area
    %li.name
      %h1
        %a{:href => "#"}
          TallFriend
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span menu
  %section.top-bar-section
    %ul.right
      %li.divider
.row
  .large-12.columns.intro
    .row
      %h3 Hi!
      %p I'm just getting this site set up. I'll be playing a bunch this summer. Mostly at <a href=''>The Café at Pier 45</a> on the Hudson River Park (river side of the west side highway) at the end of Christopher st.

      %p Please, sign up and I'll keep you posted. - Dinshaw
    .row
      .large-12.columns
        = render 'signup_form'

.row
  .large-12.columns
    %br
    .row
      .large-12.columns
        .row
          .large-4.small-6.columns
            %h4 Upcoming Shows
            %hr
            .row
              .large-1.column
                %img{:src => "http://placehold.it/50x50&text=[img]"}/
              .large-9.columns
                %h5
                  %a{ href: '#'} Cafe at Pier 45
                %h6.subheader As soon as it gets warm...

          .large-4.small-6.columns
            %img{ src: image_url('tallfriend.jpg')}
          .large-4.small-12.columns
            %h4 Blog
            %hr
            .panel
              %h5 Nothing Yet
              %h6.subheader
                %h6 But you neven know...
    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-6.columns
            %p © Tall Friend 2015
          .large-6.small-12.columns
            %ul.inline-list.right
              %li
                %a{href: '#'} Privacy

