%nav.top-bar{"data-topbar" => ""}
  %ul.title-area
    %li.name
      %h1
        %a{:href => "#"}
          TallFriend
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span menu
  %section.top-bar-section
    %ul.right
      %li.divider
.row
  .large-12.columns
    .row
      .large-12.hide-for-small
        = render 'signup_form'
    .row
      .large-12.columns.show-for-small
        %img{:src => "http://placehold.it/1200x700&text=Mobile Header"}
    %br
    .row
      .large-12.columns
        .row
          .large-4.small-6.columns
            %h4 Upcoming Shows
            %hr
            .row
              .large-1.column
                %img{:src => "http://placehold.it/50x50&text=[img]"}/
              .large-9.columns
                %h5 Cafe at Pier 46
                %h6.subheader As soon as it gets warm...

          .large-4.small-6.columns
            %img{:src => "http://placehold.it/300x465&text=Image"}/
          .large-4.small-12.columns
            %h4 Blog
            %hr
            .panel
              %h5 Nothing Yet
              %h6.subheader
                %h6 But you neven know...
    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-6.columns
            %p © Copyright no one at all. Go to town.
          .large-6.small-12.columns
            %ul.inline-list.right
              %li
                %a{:href => "#"} Link 1
              %li
                %a{:href => "#"} Link 2
              %li
                %a{:href => "#"} Link 3
              %li
                %a{:href => "#"} Link 4
