html body {
  background-color: black;
  background-image: asset_url('hat.jpg');
  background-size: cover;
  main {
    background-color: transparent;
  }
}
.alert-box {
  margin-top: 1rem;
}

.overlay {
  background-color: rgba(255,255,255,0.9);
  border: 1px solid gray;
  padding: 0 1rem;
}

.welcome {
  @include grid-row();
  margin-top: 1rem;
}

.gigs, .contact {
  margin-top: 1rem;
  @include grid-column(5);
}

.contact {
  @include grid-column(5, true, false, 2);
}

body.guest {
  header {
    form {
      input {
        width: 100px;
        display: inline;
        margin-right: 1em;
      }
    }
  }
}

