html body {
  background-color: black;
  background-image: asset_url('hat.jpg');
  background-size: cover;

  main {
    background-color: transparent;
  }
}
.alert-box {
  margin-top: 1rem;
}
.welcome {
  background-color: rgba(255,255,255,0.9);
  border: 1px solid gray;
  margin-top: 1rem;
  p, h3 {
    padding: 0 1rem;
  }
}

.gigs {
  background-color: rgba(255,255,255,0.5);
  border: 1px solid gray;
}
